.order
  .order__wrapper
    h1.order__title Оформление заказа

    .order__content
      .order__contacts
        .order__subtitle Заполните контакты
        form(action='javascript:void(0)')
          .order__input.input._name
            input(type='text', placeholder='Введите ФИО')
          .order__input.input._phone
            input(type='text', placeholder='* Ваш телефон')
          .order__input.input._email
            input(type='text', placeholder='Е-mail')
          .order__input.input._address
            input(type='text', placeholder='Адрес доставки')

      .order__items
        .order__subtitle Ваш заказ

        form(action='javascript:void(0)')
          .order__table
            .order__table-title
              div Фото
              div Наименование товара
              div Цена за шт.
              div Кол-во
              div Итого
              div &nbsp;
            .order__table-item
              div
                a(href='javascript:void(0)')
                  img(src='./assets/images/product/product_01_01.jpg', alt='')
              div
                a(href='javascript:void(0)') УГГИ МУЖСКИЕ CLASSIC SHORT BLACK
                p Размер: L
              div
                span 7800 руб.
              div
                .quantity
                  input(type="number", min="1", max="99", step="1", value="1")
                  .quantity__btn.quantity__btn--up
                  .quantity__btn.quantity__btn--down
              div
                span 7800 руб.
              div
                a.btn._close(href='javascript:void(0)')

            .order__table-item
              div
                a(href='javascript:void(0)')
                  img(src='./assets/images/product/product_01_01.jpg', alt='')
              div
                a(href='javascript:void(0)') УГГИ МУЖСКИЕ CLASSIC SHORT BLACK
                p Размер: L
              div
                span 7800 руб.
              div
                .quantity
                  input(type="number", min="1", max="99", step="1", value="1")
                  .quantity__btn.quantity__btn--up
                  .quantity__btn.quantity__btn--down
              div
                span 7800 руб.
              div
                a.btn._close(href='javascript:void(0)')

          .order__total
            .order__total-txt
              span Итоговая стоимость:
              span 7800 руб.
            button.order__total-btn.btn._accent ОФОРМИТЬ ЗАКАЗ

