.order {
  padding: 20px 20px 60px;
  background-color: $accent-bg-color;
  @media (min-width: 600px) {
    padding: 40px 48px 76px;
  }

  &__wrapper {
    width: 100%;
    max-width: 1282px;
    margin: 0 auto;
  }
  &__title {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    @media (min-width: 480px) {
      font-size: 60px;
    }
  }
  &__subtitle {
    margin-bottom: 16px;
    font-size: 24px;
    letter-spacing: 0.025em;
  }
  &__content {
    padding-top: 30px;
    @media (min-width: 480px) {
      padding-top: 40px;
    }
    @media (min-width: 1130px) {
      display: flex;
    }
  }
  &__contacts {
    width: 100%;
    margin-right: 20px;
    padding-bottom: 30px;
    @media (min-width: 1130px) {
      max-width: 400px;
    }
    @media (min-width: 1200px) {
      margin-right: 44px;
    }
  }
  &__input {
    margin-bottom: 15px;
  }
  &__items {
    width: 100%;
    @media (min-width: 1130px) {
      max-width: 838px;
    }
  }
  &__table {
    padding: 20px;
    background-color: $white;
    letter-spacing: 0.025em;
    border-radius: 4px;
    .order__table-item:not(:last-child) {
      padding-bottom: 30px;
      border-bottom: 1px solid $borders-color;
    }
  }
  &__table-title,
  &__table-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    @media (min-width: 830px) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    > div {
      flex-grow: 0;
      flex-shrink: 0;
    }
    > div:nth-of-type(1) {
      width: 98px;
      @media (min-width: 830px) {

      }
    }
    > div:nth-of-type(2) {
      width: calc(100% - 98px);
      padding: 0 20px;
      @media (min-width: 830px) {
        width: 260px;
      }
      a {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.025em;
        text-transform: uppercase;
      }
      p {
        margin-top: 8px;
        font-size: 14px;
      }
    }
    > div:nth-of-type(3) {
      position: relative;
      width: 100%;
      padding-left: 118px;
      font-size: 14px;
      pointer-events: none;
      @media (min-width: 830px) {
        width: 98px;
        padding-left: 0;
      }
      &:before {
        @media (max-width: 829px) {
          content: 'Цена:';
          display: block;
          font-size: 14px;
          font-weight: 400;
        }
      }
      span {
        font-weight: 700;
      }
    }
    > div:nth-of-type(4) {
      width: 100%;
      margin-top: 12px;
      padding-left: 118px;
      @media (min-width: 830px) {
        width: 120px;
        padding: 0 20px;
        margin-top: 0;
      }
      &:before {
        @media (max-width: 829px) {
          content: 'Кол-во:';
          display: block;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
    > div:nth-of-type(5) {
      width: 100%;
      margin-top: 12px;
      padding-left: 118px;
      font-size: 14px;
      @media (min-width: 830px) {
        width: 98px;
        margin-top: 0;
        padding-left: 0;
      }
      &:before {
        @media (max-width: 829px) {
          content: 'Итого:';
          display: block;
          font-size: 14px;
          font-weight: 400;
        }
      }
      span {
        font-weight: 700;
      }
    }
    > div:nth-of-type(6) {
      width: 20px;
      ._close {
        position: relative;
        @media (max-width: 829px) {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
  }
  &__table-title {
    display: none;
    padding-bottom: 4px;
    border-bottom: 1px solid $borders-color;
    @media (min-width: 830px) {
      display: flex;
    }
  }
  &__table-item {
    @media (min-width: 830px) {
      padding-top: 12px;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
    }
    + .order__table-item {
      margin-top: 20px;
    }
    > div:nth-of-type(2),
    > div:nth-of-type(3),
    > div:nth-of-type(5) {
      @media (min-width: 830px) {
        padding-top: 7px;
      }
    }
    > div:nth-of-type(6) {
      @media (min-width: 830px) {
        padding-top: 4px;
      }
    }
  }
  &__total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__total-txt {
    padding: 25px 0;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.025em;
    @media (min-width: 830px) {
      font-size: 24px;
    }
    > span:nth-of-type(2) {
      margin-left: 10px;
      @media (min-width: 830px) {
        margin-left: 90px;
      }
    }
  }
  &__total-btn {
    max-width: 400px;
  }
}
