.catalog {
  @media (max-width: 639px) {
    padding: 20px 40px;
  }
  @media (min-width: 640px) and (max-width: 899px) {
    padding: 20px 20px;
  }
  @media (max-width: 899px) {
    background-image: url(../images/catalog-bg-mobile.jpg);
    background-repeat: repeat-y;
    background-size: contain;
  }
  @media (min-width: 900px) {
    padding: 40px 48px;
    background-image: url(../images/catalog-bg.jpg);
    background-repeat: repeat-y;
    background-size: contain;
  }
  &__wrapper {
    display: block;
    max-width: 1787px;
    margin: 0 auto;
    @media (min-width: 900px) {
      display: flex;
    }
  }
  &__filter {
    margin-bottom: 16px;
    @media (max-width: 639px) {
      margin-left: -22px;
      margin-right: -22px;
    }
    @media (min-width: 900px) {
      min-width: 320px;
      margin-right: 44px;
    }
  }
  &__title {
    font-family: $primary-font;
    font-weight: 700;
    text-transform: uppercase;
    @media (max-width: 899px) {
      color: $black;
    }
    @media (min-width: 900px) {
      color: $white;
    }
    &._mobile {
      padding-bottom: 19px;
      color: $black;
      font-size: 30px;
      @media (min-width: 900px) {
        display: none;
      }
    }
    &._desktop {
      display: none;
      padding-top: 16px;
      padding-bottom: 38px;
      font-size: 60px;
      line-height: 50px;
      @media (min-width: 900px) {
        display: block;
      }
    }
  }
  &__pagination {
    margin-left: -10px;
    margin-right: -10px;
    padding: 0 0 20px;
    text-align: center;
    @media (min-width: 900px) {
      margin: 0;
      padding: 26px 0;
    }
  }
}



.pagination {
  margin-left: -20px;
  margin-right: -20px;
  @media (min-width: 900px) {
    margin: 0;
  }
  &__item {
    display: inline-block;
    margin: 0 2px 6px;
    @media (min-width: 900px) {
      margin: 0 10px;
    }
    span {
      display: block;
      width: 36px;
      height: 36px;
      background-color: $white;
      font-family: $helper-font;
      font-size: 13px;
      font-weight: 700;
      line-height: 36px;
      border-radius: 18px;
      @media (min-width: 900px) {
        width: 58px;
        height: 58px;
        font-size: 21px;
        line-height: 58px;
        border-radius: 29px;
      }
    }
    &._active {
      span {
        color: $white;
        background-color: $black;
      }
    }
    &._prev,
    &._next {
      span {
        width: 70px;
        font-size: 11px;
        @media (min-width: 900px) {
          width: 170px;
          font-size: 18px;
        }
      }
    }
  }
}