.catalog
  - var items = ['ГЛАВНАЯ', 'МУжские']
  - var product = 'CLASSIC SHORT'
  - var helperClass = '_white'
  include ../breadcrumbs/breadcrumbs.pug
  .catalog__wrapper
    .catalog__title._mobile УГГИ UGG AUSTRALIA CLASSIC SHORT
    .catalog__filter
      include ../filter/filter.pug
    .catalog__content
      .catalog__title._desktop УГГИ UGG AUSTRALIA CLASSIC SHORT
      include ../products-list/products-list.pug

  .catalog__pagination
    ul.pagination
      li.pagination__item._prev
        span Назад
      li.pagination__item._active
        span 1
      li.pagination__item
        a(href='javascript:void(0)')
          span 2
      li.pagination__item
        a(href='javascript:void(0)')
          span 3
      li.pagination__item._next
        a(href='javascript:void(0)')
          span Вперёд


