.modal
  button.modal__close
  .modal__title Товар добавлен в корзину
  .modal__desc
    p Бесплатная доставка 2-ой пары с другим размером.
    p Бесплатная доставка по Москве.
  .modal__btns
    a.btn._default(href="#") ДОБАВИТЬ В КОРЗИНУ
    a.btn._accent(href="#") БЫСТРЫЙ ЗАКАЗ
