.modal.modal--phone
  button.modal__close
  .modal__title Заказать звонок
  .modal__desc
    p Оставьте заявку и мы перезвоним в ближайшее время.
  form(action="#")
    .modal__field
      .input._phone
        input(type="text", placeholder="* Ваш телефон")
    .modal__field
      button.btn._accent ПЕРЕЗВОНИТЕ МНЕ
