.modal {
  position: fixed;
  top: 301px;
  left: 50%;
  width: 100%;
  max-width: 850px;
  padding: 86px 66px 61px;
  background-color: #fff;
  transform: translateX(-50%);
  z-index: 100;
  &--phone {
    max-width: 650px;
  }
  &__close {
    position: absolute;
    content: "";
    top: 30px;
    right: 35px;
    width: 35px;
    height: 35px;
    background-color: transparent;
    background-image: url(../images/icon-close-gray.svg);
    background-repeat: no-repeat;
    border: 0 none;
    cursor: pointer;
  }
  &__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.025em;
  }
  &__desc {
    padding: 8px 0 38px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.025em;
    > p + p {
      margin-top: 0;
    }
  }
  &__btns {
    display: flex;
    margin: 0 -9px;
    > .btn {
      margin: 0 9px;
    }
  }
  &__field {
    width: 400px;
    margin: 0 auto;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}