.bestseller {
  padding: 0 48px;
  background-image: url(../assets/images/bestseller-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-width: 768px) {
    padding: 0 68px;
  }
  &__wrapper {
    max-width: 1787px;
    margin: 0 auto;
  }
  &__title {
    padding: 60px 0;
    color: $black;
    font-family: $sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    @media (min-width: 768px) {
      font-size: 36px;
    }
    span {
      position: relative;
      &:before,
      &:after {
        display: none;
        content: '';
        position: absolute;
        top: 50%;
        width: 97px;
        height: 2px;
        background-color: #4e4e4e;
        @media (min-width: 732px) {
          display: block;
        }
      }
      &:before {
        left: -162px;
      }
      &:after {
        right: -162px;
      }
    }
  }
}