- var menu = ['Женские', 'Мужские', 'Детские', 'Выбор размера', 'Контакты', 'Блог']
- var submenu = ['Мужские короткие угги', 'Мужские Мини угги', 'Мужские кожаные ботинки', 'Мужские ботинки угги', 'Мужские мокасины угги']

ul.topnav.js-mobile-menu
  li.topnav__phone
    a(href='tel:8-495-235-3000')
      div 8 (495) 235-30-00
      div Звоните, если у вас есть вопрос

  each item in menu
    li.topnav__item
      if (item == "Женские" || item == "Мужские" || item == "Детские")
        a._sub(href='javascript:void(0)' class=((item == "Мужские") ? '_active' : ''))= item
      else
        a(href='javascript:void(0)' class=((item == "Мужские") ? '_active' : ''))= item
      if (item == "Мужские")
        ul.topnav__submenu
          each item in submenu
            li
              a(href='javascript:void(0)')
                img(src='./assets/images/uggi/uggi_01.png')
                =item
          each item in submenu
            li
              a(href='javascript:void(0)')
                img(src='./assets/images/uggi/uggi_02.png')
                =item

  li.topnav__time
    div Время работы:
    div c 9:00 до 20:00

  li.topnav__callback
    a(href='javascript:void(0)') Заказать звонок
