.topnav {
  display: flex;
  @media (max-width: 1049px) {
    position: absolute;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 280px;
    background-color: $white;
    z-index: 100;
    transition: left $slow ease-in-out;
  }
  @media (min-width: 1050px) {
    position: relative;
    align-items: stretch;
    width: 100%;
    background-color: $black;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -78px;
    width: 78px;
    height: 78px;
    background-image: url(../assets/images/icon-close.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    pointer-events: none;
    @media (min-width: 1050px) {
      display: none;
    }
  }
  &._open {
    left: 0;
  }
  &__item {
    @media (max-width: 1049px) {
      position: relative;
      width: 100%;
      background-color: $black;
    }
    @media (min-width: 1050px) {
      width: 16.6667%;
    }
    > a {
      position: relative;
      display: inline-block;
      width: 100%;
      padding: 20px 0 20px 40px;
      color: $white;
      font-family: $helper-font;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.075em;
      text-transform: uppercase;
      transition: color $time linear, background-color $time linear;
      @media (min-width: 1050px) {
        padding: 20px 0;
        text-align: center;
      }
      &:hover,
      &._active {
        @media (min-width: 1050px) {
          color: $black;
          background-color: $white;
        }
      }
      &._sub:after {
        @media (max-width: 1049px) {
          content: '';
          position: absolute;
          width: 13px;
          height: 13px;
          right: 30px;
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANBAMAAACAxflPAAAAGFBMVEUAAAD///////////////////////////8jfp1fAAAACHRSTlMAo4luVyKBGIL+g6cAAAAwSURBVAjXY2BgEmUAAxbBAgjDUQFCMwsxQECiAYRmEobQrIIwPkweqh6uH2EezHwAt/UDhxUBra0AAAAASUVORK5CYII=');
          background-repeat: no-repeat;
          opacity: .6;
          transition: $slow transform;
        }
      }
      &._sub:hover {
        &:after {
          @media (max-width: 1049px) {
            transform: rotate(90deg);
          }
        }
      }
    }
    &:hover {
      .topnav__submenu {
        @media (max-width: 1049px) {
          height: auto;
        }
        @media (min-width: 1050px) {
          display: flex;
          z-index: 10000;
        }
      }
    }
  }
  &__submenu {
    background-color: $white;
    @media (max-width: 1049px) {
      height: 0;
      overflow: hidden;
    }
    @media (min-width: 1050px) {
      display: none;
      flex-wrap: wrap;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      padding: 19px 0;
      border-top: 1px solid $black;
      box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, .15);
    }
    > li {
      padding: 0 10px;
      @media (min-width: 1050px) {
        display: flex;
        align-items: center;
        width: 16.6667%;
        padding: 0 1%;
      }
      > a {
        display: flex;
        align-items: center;
        padding: 15px 0;
        color: #271919;
        font-family: $sans-serif;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        transition: color $time linear;
        &:hover {
          color: $red;
        }
        > img {
          margin-right: 12px;
        }
      }
    }
  }

  &__phone {
    position: relative;
    @media (min-width: 1050px) {
      display: none;
    }
    &:before {
      content: '';
      position: absolute;
      top: 25px;
      left: 20px;
      width: 22px;
      height: 22px;
      background-image: url(../assets/images/icon-phone.png);
      background-repeat: no-repeat;
    }
    a {
      display: block;
      padding: 20px 0 20px 58px;
      > div:first-child {
        font-family: $helper-font;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
      }
      > div:last-child {
        color: #8d8d8d;
        font-family: $primary-font;
        font-size: 13px;
        font-weight: 400;
      }
    }
  }
  &__time {
    position: relative;
    padding: 17px 0 17px 58px;
    @media (min-width: 1050px) {
      display: none;
    }
    &:before {
      content: '';
      position: absolute;
      top: 26px;
      left: 20px;
      width: 22px;
      height: 22px;
      background-image: url(../assets/images/icon-time.png);
      background-repeat: no-repeat;
    }
    > div:first-child {
      color: #8d8d8d;
      font-family: $primary-font;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
    > div:last-child {
      color: $black;
      font-family: $helper-font;
      font-size: 15px;
      font-weight: 700;
    }
  }
  &__callback {
    @media (min-width: 1050px) {
      display: none;
    }
    a {
      display: block;
      padding: 25px 0;
      background-color: $red;
      color: #fefefe;
      font-family: $helper-font;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
