.social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #e4e4e4;
  @media (min-width: 460px) {
    height: 147px;
  }
  &__link {
    margin: 0 4px;
    @media (min-width: 460px) {
      margin: 0 7px;
    }
  }
  img {
    width: 100%;
    max-width: 32px;
    @media (min-width: 460px) {
      max-width: 48px;
    }
  }
}