.social
  a.social__link(href='javascript:void(0)')
    img(src='./assets/images/social/icon-tumblr.svg')
  a.social__link(href='javascript:void(0)')
    img(src='./assets/images/social/icon-vimeo.svg')
  a.social__link(href='javascript:void(0)')
    img(src='./assets/images/social/icon-instagram.svg')
  a.social__link(href='javascript:void(0)')
    img(src='./assets/images/social/icon-twitter.svg')
  a.social__link(href='javascript:void(0)')
    img(src='./assets/images/social/icon-pinterest.svg')
  a.social__link(href='javascript:void(0)')
    img(src='./assets/images/social/icon-facebook.svg')