.filter {
  &__block {
    @media (max-width: 899px) {
      margin-bottom: 8px;
    }
  }
  &__toggle {
    position: absolute;
    opacity: 0;
    display: none;
    &:checked ~ .filter__title:after {
      @media (max-width: 899px) {
        transform: rotate(180deg);
      }
    }
    &:checked ~ .filter__body {
      padding-top: 20px;
      padding-bottom: 20px;
      @media (max-width: 899px) {
        height: auto;
      }
      @media (min-width: 420px) {
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }
  }
  &__title {
    position: relative;
    display: block;
    height: 75px;
    color: $white;
    background-color: $red;
    font-family: $helper-font;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 77px;
    text-transform: uppercase;
    cursor: pointer;
    @media (min-width: 900px) {
      pointer-events: none;
    }
    &:after {
      @media (max-width: 899px) {
        content: '';
        position: absolute;
        width: 17px;
        height: 17px;
        top: 29px;
        right: 33px;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARBAMAAADJQ1rJAAAAIVBMVEUAAAD////////////////////////////////////////PIev5AAAACnRSTlMA9b4IVku37rIMVjqdZQAAAEFJREFUCNdjIB0oGYApMwWGKlEQg1WqgMFoVTIDA3PWIqCU48IAhsCFDgxAvtYKi1XKYMUsUqtEoNonCU1gIAcAAH60CpPlLnGAAAAAAElFTkSuQmCC');
        background-repeat: no-repeat;
        transition: $slow transform;
      }
    }
    &._model {
      background-color: $black;
    }
  }
  &__body {
    padding-left: 16px;
    padding-right: 16px;
    background-color: $white;
    @media (max-width: 899px) {
      height: 0;
      transition: $slow all;
      overflow: hidden;
    }
    @media (min-width: 420px) {
      padding-left: 35px;
      padding-right: 35px;
    }
    @media (min-width: 900px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  &__label {
    margin-bottom: 8px;
    color: #271919;
    font-family: $helper-font;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    &:not(:first-child) {
      margin-top: 16px;
    }
  }
  &__range-inputs {
    display: flex;
    align-items: center;
    font-family: $helper-font;
    font-size: 13px;
    font-weight: 700;
    span {
      margin: 10px;
    }
  }
  &__range-input {
    width: 90px;
    height: 31px;
    padding: 0 4px;
    background-color: $white;
    font-family: $helper-font;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    border: 2px solid #ebebeb;
  }
  &__range-slider {
    margin-top: 28px;
    margin-bottom: 10px;
    padding: 0 10px;
  }
  &__models {
    > li {
      display: flex;
      align-items: center;
      > a {
        display: flex;
        align-items: center;
        padding: 14px 0;
        color: #271919;
        font-family: $sans-serif;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        transition: color $time linear;
        &:hover {
          color: $red;
        }
        > img {
          margin-right: 12px;
        }
      }
    }
  }
}
