.filter

  .filter__block
    input.filter__toggle(id='filter_1', type='checkbox', name='filter')
    label.filter__title(for='filter_1') Фильтр
    .filter__body
      form(action='javascript:void(0)')
        .filter__label размеры
        select.js-select2(style='width: 100%;')
          option(value='0') Все
          option(value='36') 36 / 5 US
          option(value='37') 37 / 6 US
          option(value='38') 38 / 7 US
          option(value='39') 39 / 8 US
          option(value='40') 40 / 9 US
        .filter__label Фасон
        select.js-select2(style='width: 100%;')
          option(value='0') Все
          option(value='1') короткие угги
          option(value='2') мини угги
          option(value='3') кожаные ботинки
          option(value='4') ботинки угги
          option(value='5') мокасины угги
          option(value='6') высокие угги
        .filter__label Материал
        select.js-select2(style='width: 100%;')
          option(value='0') Все
          option(value='1') ткань
          option(value='2') кожа
          option(value='3') замша
        .filter__label Цвет
        select.js-select2(style='width: 100%;')
          option(value='0') Все
          option(value='1') черный
          option(value='2') бежевый
          option(value='3') синий
        .filter__label Цена
        .filter__range-inputs
          input.filter__range-input.js-nouislider-min(type='number')
          span -
          input.filter__range-input.js-nouislider-max(type='number')
          span руб.
        .filter__range-slider.js-nouislider

  .filter__block
    - var submenu = ['Мужские короткие угги', 'Мужские Мини угги', 'Мужские кожаные ботинки', 'Мужские ботинки угги', 'Мужские мокасины угги']
    input.filter__toggle(id='filter_2', type='checkbox', name='filter')
    label.filter__title._model(for='filter_2') Мужские
    .filter__body
      ul.filter__models
        each item in submenu
          li
            a(href='javascript:void(0)')
              img(src='./assets/images/uggi/uggi_02.png')
              =item
