.product {
  &__wrapper {
    display: flex;
    flex-direction: column;
    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__title {
    letter-spacing: 0.025em;
    &._mobile {
      margin-bottom: 20px;
      @media (min-width: 1024px) {
        display: none;
      }
      h1,
      h2 {
        margin: 0;
        font-size: 28px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
    &._desktop {
      display: none;
      margin: 0 0 4px 0;
      font-weight: 700;
      text-transform: uppercase;
      @media (min-width: 1024px) {
        display: block;
        font-size: 28px;
      }
      @media (min-width: 1200px) {
        font-size: 45px;
      }
    }
  }

  &__order {
    padding-top: 40px;
    @media (min-width: 1024px) {
      max-width: 527px;
      padding-top: 6px;
    }
  }
  &__price {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 42px;
    span {
      margin-left: 12px;
      font-size: 36px;
    }
    &._old {
      display: inline-block;
      margin-right: 20px;
      color: #8d8d8d;
      font-size: 24px;
      text-decoration: line-through;
      span {
        margin-left: 12px;
        font-size: 21px;
      }
    }
    &._saving {
      display: inline-block;
      padding: 8px;
      color: $white;
      background-color: $black;
      font-size: 21px;
      span {
        margin-left: 12px;
        font-size: 24px;
      }
    }
  }
  &__add-btn {
    margin-top: 7px;
    @media (min-width: 1024px) {
      max-width: 400px;
    }
    span {
      position: relative;
      display: inline-block;
      padding-right: 46px;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: -9px;
        right: 0px;
        width: 36px;
        height: 36px;
        background-image: url(../images/icon-basket.png);
        background-size: 36px;
        background-repeat: no-repeat;
      }
    }
  }
  &__quick-title {
    margin-top: 20px;
    font-size: 30px;
    letter-spacing: 0.025em;
  }
  &__quick-info {
    margin: 4px 0 10px;
    font-size: 14px;
    letter-spacing: 0.025em;
  }
  &__input {
    margin-bottom: 15px;
    @media (min-width: 1024px) {
      max-width: 400px;
    }
  }
  &__quick-btn {
    @media (min-width: 1024px) {
      max-width: 400px;
    }
  }
  &__size {
    padding-top: 26px;
    padding-bottom: 16px;
    font-size: 18px;
    > div {
      display: inline-block;
      margin-right: 10px;
      font-weight: 700;
    }
    a {
      white-space: nowrap;
      text-decoration: underline;
    }
  }
  &__select-size {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (min-width: 1024px) {
      max-width: 402px;
    }
    label {
      display: block;
      width: 100%;
      max-width: 115px;
      margin-bottom: 13px;
      background-color: #d6d6d6;
      cursor: pointer;
    }
    input {
      display: none;
      &:checked ~ span {
        background-color: #fff;
        border: 2px solid #ff0000;
      }
    }
    span {
      display: block;
      padding: 12px 0;
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      border: 2px solid transparent;
    }
  }

  &__images {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: -20px;
    margin-right: -20px;
    @media (min-width: 578px) {
      flex-direction: row;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
    }
    @media (min-width: 1024px) {
      margin-right: 20px;
    }
  }
  &__slider-img {
    order: 0;
    position: relative;
    left: 50%;
    width: 426px;
    min-width: 426px;
    height: 426px;
    margin-bottom: 22px;
    transform: translateX(-50%);
    @media (min-width: 578px) {
      order: 1;
      left: auto;
      margin-bottom: 0;
      transform: translateX(0);
    }
    @media (min-width: 1280px) {
      width: 520px;
      height: 520px;
    }
    .flickity-viewport {
      background-color: $white;
      border-radius: 50%;
    }
  }
  &__slider-img-items {
    touch-action: manipulation;
  }
  &__slider-img-item {
    position: relative;
    width: 100%;
    height: 426px;
    @media (min-width: 1280px) {
      height: 520px;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      max-width: 290px;
      height: auto;
      transform: translate(-50%, -50%);
      @media (min-width: 1280px) {
        max-width: 340px;
      }
    }
  }
  &__slider-nav {
    order: 1;
    position: relative;
    width: 100%;
    height: 90px;
    margin-right: 20px;
    @media (min-width: 578px) {
      order: 0;
      width: 90px;
      height: 520px;
    }
    @media (min-width: 1360px) {
      margin-right: 87px;
    }
    .flickity-viewport {
      cursor: pointer !important;
    }
  }
  &__slider-nav-items {
    position: absolute;
    touch-action: manipulation;
    @media (min-width: 578px) {
      width: 435px;
      transform: rotate(90deg);
      transform-origin: 24px 67px;
    }
    &:before {
      content: '';
      position: absolute;
      top: 43px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $black;
      @media (min-width: 578px) {
        width: 434px;
      }
    }
  }
  &__slider-nav-item {
    position: relative;
    width: 90px;
    height: 90px;
    margin-right: 25px;
    background-color: $white;
    border-radius: 50%;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      max-width: 60px;
      height: auto;
      opacity: .4;
      transform: translate(-50%, -50%);
      @media (min-width: 578px) {
        transform: translate(-50%, -50%) rotate(-90deg);
        transform-origin: 50% 50%;
      }
    }
    &.is-selected img {
      opacity: 1;
    }
  }

  &__colors {
    display: flex;
    padding-top: 55px;
    touch-action: manipulation;
    &._mobile {
      justify-content: center;
      margin-left: -20px;
      margin-right: -20px;
      @media (min-width: 1024px) {
        display: none;
      }
    }
    &._desktop {
      display: none;
      @media (min-width: 1024px) {
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
      }
    }
    .flickity-prev-next-button {
      display: none;
      @media (min-width: 1150px) {
        display: block;
      }
    }
  }
  &__colors-wrapper {
    width: 510px;
  }
  &__colors-title {
    width: 100%;
    max-width: 520px;
    margin-bottom: 26px;
    padding: 0 0 9px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    @media (min-width: 1024px) {
      font-size: 24px;
      border-bottom: 2px solid $black;
    }
  }
  &__slider-colors-item {
    width: 150px;
    height: 150px;
    margin-right: 30px;
    background-color: $white;
    border-radius: 50%;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      max-width: 100px;
      height: auto;
      transform: translate(-50%, -50%);
    }
  }
  .flickity-prev-next-button {
    width: 42px;
    height: 90px;
    background: transparent;
  }
  .flickity-prev-next-button:hover {
    background: transparent;
  }
  .flickity-prev-next-button .arrow {
    fill: white;
  }
  .flickity-prev-next-button.no-svg {
    color: white;
  }
  .flickity-prev-next-button.previous {
    left: -52px;
  }
  .flickity-prev-next-button.next {
    right: -52px;
  }

  &__tabs {
    position: relative;
    width: 100%;
    max-width: 795px;
    margin-top: 50px;
    @media (min-width: 900px) {
      padding-top: 76px;
    }
  }
  &__tab-title {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 58px;
    margin-bottom: 10px;
    background-color: #d6d6d6;
    font-size: 21px;
    font-weight: 400;
    line-height: 63px;
    text-align: center;
    text-transform: uppercase;
    @media (min-width: 900px) {
      position: absolute;
      top: 0;
    }
    &#features {
      @media (min-width: 900px) {
        left: 0;
        width: 215px;
      }
    }
    &#delivery {
      @media (min-width: 900px) {
        left: 229px;
        width: 293px;
      }
    }
    &#return {
      @media (min-width: 900px) {
        left: 536px;
        width: 259px;
      }
    }
    &._active {
      background-color: $white;
    }
  }
  &__tab-body {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all $slow ease-out;
    &._active {
      height: auto;
      opacity: 1;
      transition: all $slow ease-in;
    }
  }
  &__details {
    padding-bottom: 28px;
    li {
      width: 100%;
      padding: 12px 28px 0;
      background-color: $white;
      font-size: 19px;
      @media (min-width: 900px) {
        display: flex;
        align-items: center;
        height: 48px;
        padding: 0 28px;
        border: 1px solid #ececec;
      }
      &:last-child {
        padding-bottom: 12px;
      }
      > div:nth-child(1) {
        width: 35%;
        font-weight: 700;
      }
      > div:nth-child(2) {
        width: 65%;
      }
    }
  }
  &__description {
    padding-bottom: 20px;
    font-size: 19px;
    line-height: 32px;
  }
}
