.product.block
  - var items = ['ГЛАВНАЯ', 'МУжские', 'CLASSIC SHORT']
  - var product = 'Угги Мужские CLASSIC SHORT BLACK'
  - var helperClass = '_black'
  include ../breadcrumbs/breadcrumbs.pug


  .product__wrapper

    .product__title._mobile
      h1 Угги Мужские CLASSIC
      h2 SHORT BLACK

    .product__slider
      .product__images
        .product__slider-nav
          .product__slider-nav-items.js-product-nav
            .product__slider-nav-item
              img(src='./assets/images/product/product_01_01.jpg', title='')
            .product__slider-nav-item
              img(src='./assets/images/product/product_01_02.jpg', title='')
            .product__slider-nav-item
              img(src='./assets/images/product/product_01_03.jpg', title='')
            .product__slider-nav-item
              img(src='./assets/images/product/product_01_04.jpg', title='')
            .product__slider-nav-item
              img(src='./assets/images/product/product_01_05.jpg', title='')
        .product__slider-img
          .product__slider-img-items.js-product-img
            .product__slider-img-item
              img(src='./assets/images/product/product_01_01.jpg', title='')
            .product__slider-img-item
              img(src='./assets/images/product/product_01_02.jpg', title='')
            .product__slider-img-item
              img(src='./assets/images/product/product_01_03.jpg', title='')
            .product__slider-img-item
              img(src='./assets/images/product/product_01_04.jpg', title='')
            .product__slider-img-item
              img(src='./assets/images/product/product_01_05.jpg', title='')
      .product__colors._desktop
        .product__colors-wrapper
          .product__colors-title Другие цвета и похожие модели
          .product__slider-colors.js-product-colors
            .product__slider-colors-item
              img(src='./assets/images/product-colors/product_color_01.jpg', title='')
            .product__slider-colors-item
              img(src='./assets/images/product-colors/product_color_02.jpg', title='')
            .product__slider-colors-item
              img(src='./assets/images/product-colors/product_color_03.jpg', title='')
            .product__slider-colors-item
              img(src='./assets/images/product-colors/product_color_04.jpg', title='')

    .product__order
      .product__title._desktop
        span Угги Мужские CLASSIC
        div SHORT BLACK
      .product__price._old
        | 18 100
        span руб.
      .product__price._saving Экономия 9 110 руб.
      .product__price
        | 8 100
        span руб.
      button.product__add-btn.btn._default
        span ДОБАВИТЬ В КОРЗИНУ
      form(action='javascript:void(0)')
        .product__quick-title Закажите сразу
        .product__quick-info Для этого заполните поля и нажмите “Оформить заказ”
        .product__input.input._name
          input(type='text', placeholder='* Введите ФИО')
        .product__input.input._phone
          input(type='text', placeholder='* Ваш телефон')
        button.product__quick-btn.btn._accent БЫСТРЫЙ ЗАКАЗ
        .product__size
          div Выберите размер:
          a(href='javascript:void(0)') Определить свой размер
        .product__select-size
          label(for='size-1')
            input(type='radio', id='size-1', name='sizes', checked)
            span 41 / 8 uS
          label(for='size-2')
            input(type='radio', id='size-2', name='sizes')
            span 42 / 9 uS
          label(for='size-3')
            input(type='radio', id='size-3', name='sizes')
            span 43 / 10 uS
          label(for='size-4')
            input(type='radio', id='size-4', name='sizes')
            span 44 / 11 uS
          label(for='size-5')
            input(type='radio', id='size-5', name='sizes')
            span 45 / 12 uS
          label(for='size-6')
            input(type='radio', id='size-6', name='sizes')
            span 46 / 13 uS

    .product__colors._mobile
      .product__colors-wrapper
        .product__colors-title Другие цвета и похожие модели
        .product__slider-colors.js-product-colors
          .product__slider-colors-item
            img(src='./assets/images/product-colors/product_color_01.jpg', title='')
          .product__slider-colors-item
            img(src='./assets/images/product-colors/product_color_02.jpg', title='')
          .product__slider-colors-item
            img(src='./assets/images/product-colors/product_color_03.jpg', title='')
          .product__slider-colors-item
            img(src='./assets/images/product-colors/product_color_04.jpg', title='')

  .product__tabs
    a.product__tab-title._active#features(href='#features') Описание
    .product__tab-body._active#tab-features
      ul.product__details
        li
          div Состав:
          div Рыбный
        li
          div Внутренний материал:
          div 100% овчина
        li
          div Внешний материал:
          div Замша
        li
          div Высота голенища:
          div 20.0 см
        li
          div Стелька:
          div Рыбная
        li
          div Материал подошвы:
          div Полимер с технологией EVA
        li
          div Толщина подошвы: 
          div 1.0 см
        li
          div Цвет:
          div Черный
        li
          div Детали:
          div Детали:
      .product__description Короткие мужские угги черного цвета MENS Classic Short Black позволяют забыть, что на Вас надета какая-либо обувь. Мягкая натуральная овечья шерсть согревает изнутри, замша обеспечивает удобство и комфорт вкупе с естественной микровентиляцией стопы, а нескользящая подошва придает уверенность на льду. При этом стопа владельца угг Classic Short Black надежно зафиксирована за счет усиленной фирменной пятки с логотипом бренда UGG Australia.

    a.product__tab-title#delivery(href='#delivery') Доставка и оплата
    .product__tab-body#tab-delivery
      .product__description Курьерская доставка по Москве осуществляется на следующий день после оформления заказа. Привоз и примерка до 2-х пар в любое удобное для Вас время БЕСПЛАТНО при заказе от 5000 рублей! Каждая последующая пара для примерки +100 рублей к стоимости заказа.

    a.product__tab-title#return(href='#return') Обмен и возврат
    .product__tab-body#tab-return
      .product__description Вы можете вернуть или обменять приобретенную у нас обувь в течение 14 дней с момента покупки, даже если эта пара UGG Вам просто разонравилась, без объяснения причин. Важно, чтобы товарный вид и упаковка были полностью сохранены.
