.products-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -27px;
  @media (min-width: 640px) {
    margin: 0 -10px;
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px);
    margin: 0 5px 44px;
    padding-bottom: 30px;
    background-color: $white;
    border: 3px solid transparent;

    @media (min-width: 640px) {
      width: calc(50% - 20px);
      margin: 0 10px 44px;
    }
    @media (min-width: 1050px) {
      width: calc(33.3333% - 20px);
    }
    @media (min-width: 1400px) {
      width: calc(25% - 40px);
      margin: 0 20px 44px;
    }
    @media (min-width: 1921px) {
      max-width: 321px;
    }
    &:hover {
      .products-list__over {
        display: block;
      }
    }
  }
  &__img {
    img {
      width: 100%;
      height: auto;
    }
  }
  &__info {
    padding: 0 20px;
  }
  &__name,
  &__color {
    color: $black;
    font-family: $sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.025em;
  }
  &__color {
    margin-bottom: 20px;
  }
  &__price {
    display: inline-block;
    font-family: $helper-font;
    font-weight: 700;
    white-space: nowrap;
    &._new {
      margin-right: 10px;
      color: $red;
      font-size: 24px;
      span {
        font-size: 21px;
      }
    }
    &._old {
      position: relative;
      color: #afafaf;
      font-size: 17px;
      line-height: 28px;
      &:after {
        content: '';
        position: absolute;
        top: 11px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #afafaf;
      }
    }
  }
  &__btn {
    display: block;
    width: 100%;
    margin-bottom: 18px;
    padding: 10% 10px;
    color: $white;
    background-color: $red;
    font-family: $sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    border: 1px solid $red;
    transition: color $slow, background-color $slow;
    @media (min-width: 414px) {
      font-size: 20px;
    }
    &:hover {
      color: $red;
      background-color: $white;
    }
  }
  &__over {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 6px);
    margin: -3px;
    padding-bottom: 20px;
    background-color: $white;
    border: 3px solid $black;
    z-index: 100;
  }
}
