ul.products-list
  - for (var x = 0; x < 8; x++)
    li.products-list__item
      .products-list__img
        a(href='javascript:void(0)')
          img(src='./assets/images/catalog/prod-01.jpg')
      .products-list__info
        a.products-list__name(href='javascript:void(0)') Женские Угги Bailey Button Triplet
        .products-list__color Metallic Black
        div
          span.products-list__price._new 7800
            span руб.
          span.products-list__price._old 21190 руб.

      .products-list__over
        .products-list__img
          a(href='javascript:void(0)')
            img(src='./assets/images/catalog/prod-01.jpg')
        .products-list__info
          a.products-list__btn(href='javascript:void(0)') ПОДРОБНЕЕ
          a.products-list__name(href='javascript:void(0)') Женские Угги Bailey Button Triplet
          .products-list__color Metallic Black
          div
            span.products-list__price._new 7800
              span руб.
            span.products-list__price._old 21190 руб.