.header
  .header__main
    a.header__btn.js-open-mobile-menu(href='javascript:void(0)')
      span
    .header__logo
      a(href='/')
        img(src='./assets/images/logo.png', alt='')
      span Оффициальный магазин<br>«Ugg australia»
    .header__search
      .header__search-icon
      form(action='javascript:void(0)')
        input(type='text', name='search', placeholder='Более 3000 товаров')
    .header__contacts
      .header__time
        div Время работы:
        div c 9:00 до 20:00
      .header__phone
        div +7 (495) 235-30-00
        div Звонок бесплатный по РФ
    a.header__callback(href='javascript:void(0)') Заказать звонок
    .header__basket
      a.header__basket-link(href='javascript:void(0)')
        .header__basket-text Корзина
        .header__basket-count
          span 2

      .basket-tooltip
        .basket-tooltip__item
          img(src='./assets/images/product/product_01_01.jpg', alt='')
          .basket-tooltip__info
            .basket-tooltip__name Classic Mini Black-Yellow 37&nbsp;/&nbsp;6&nbsp;US
            .basket-tooltip__price 6 190 руб.
            .basket-tooltip__quantity 4&nbsp;шт.
          a.basket-tooltip__remove.btn._close(href='javascript:void(0)')
        .basket-tooltip__item
          img(src='./assets/images/product/product_01_01.jpg', alt='')
          .basket-tooltip__info
            .basket-tooltip__name Classic Mini Black-Yellow 37&nbsp;/&nbsp;6&nbsp;US
            .basket-tooltip__price 6 190 руб.
            .basket-tooltip__quantity 4&nbsp;шт.
          a.basket-tooltip__remove.btn._close(href='javascript:void(0)')
        .basket-tooltip__footer
          .basket-tooltip__total
            .basket-tooltip__total-txt Общая стоимость:
            .basket-tooltip__total-sum 24 760 руб.
          a.basket-tooltip__btn.btn._accent(href='javascript:void(0)') Оформить заказ

  .header__search._mobile
    .header__search-icon
    form(action='javascript:void(0)')
      input(type='text', name='search', placeholder='Более 3000 товаров')