.header {
  &__main {
    display: flex;
    height: 70px;
    background-color: $secondary-color;
    @media (max-width: 1049px) {
      justify-content: space-between;
    }
    @media (min-width: 1050px) {
      height: 100px;
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    @media (min-width: 1050px) {
      display: none;
    }
    span {
      position: relative;
      display: block;
      width: 32px;
      height: 18px;
      border-top: 2px solid $black;
      border-bottom: 2px solid $black;
      &:before {
        content: '';
        position: absolute;
        display: block;
        top: 6px;
        left: 0;
        width: 32px;
        height: 2px;
        background-color: $black;
      }
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    @media (min-width: 1050px) {
      justify-content: space-around;
      width: 25%;
      padding-left: 20px;
      padding-right: 20px;
    }
    @media (min-width: 1220px) {
      min-width: 350px;
    }
    @media (min-width: 1680px) {
      padding-left: 85px;
      padding-right: 32px;
    }
    img {
      display: block;
      width: 73px;
      height: auto;
      @media (min-width: 1050px) {
        width: 100%;
        min-width: 78px;
      }
    }
    span {
      display: none;
      margin-left: 20px;
      color: $helper-text-color;
      font-family: $primary-font;
      font-size: 12px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 0.075em;
      text-transform: uppercase;
      @media (min-width: 1220px) {
        display: block;
      }
    }
  }
  &__search {
    position: relative;
    display: none;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    @media (min-width: 1050px) {
      display: flex;
      justify-content: center;
      width: 21%;
      min-width: 260px;
      border-left: 2px solid #ebebeb;
      border-right: 2px solid #ebebeb;
    }
    &._mobile {
      display: flex;
      border-top: 2px solid #ececec;
      border-bottom: 2px solid #ececec;
      background-color: $white;
      @media (min-width: 1050px) {
        display: none;
      }
    }
    form {
      width: 100%;
      padding-top: 6px;
      @media (min-width: 1050px) {
        width: 75%;
      }
    }
    input {
      width: 100%;
      line-height: 60px;
      border: 0 none;
      &::placeholder {
        color: #c5c5c5;
        font-family: $helper-font;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.025em;
      }
    }
  }
  &__search-icon {
    position: relative;
    width: 35px;
    height: 34px;
    margin-right: 20px;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 35px;
      height: 34px;
      background-image: url(../assets/images/icon-search.png);
      background-repeat: no-repeat;
      transform: translateY(-50%);
    }
  }
  &__contacts {
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 39.5%;
    padding: 11px 20px 0;
    @media (min-width: 1050px) {
      display: flex;
    }
    @media (min-width: 1500px) {
      width: 30%;
    }
  }
  &__time {
    position: relative;
    padding-left: 36px;
    white-space: nowrap;
    &:before {
      content: '';
      position: absolute;
      top: -2px;
      left: 0;
      width: 22px;
      height: 22px;
      background-image: url(../assets/images/icon-time.png);
      background-repeat: no-repeat;
    }
    > div:first-child {
      color: $helper-text-color;
      font-family: $sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      @media (min-width: 1290px) {
        font-size: 16px;
      }
    }
    > div:last-child {
      color: $black;
      font-family: $helper-font;
      font-size: 13px;
      font-weight: 700;
      line-height: 24px;
      @media (min-width: 1290px) {
        font-size: 15px;
      }
    }
  }
  &__phone {
    position: relative;
    margin-left: 20px;
    padding-left: 46px;
    text-align: right;
    white-space: nowrap;
    &:before {
      content: '';
      position: absolute;
      top: -2px;
      left: 0;
      width: 22px;
      height: 22px;
      background-image: url(../assets/images/icon-phone.png);
      background-repeat: no-repeat;
    }
    > div:first-child {
      color: $black;
      font-family: $helper-font;
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
      @media (min-width: 1290px) {
        font-size: 24px;
      }
    }
    > div:last-child {
      color: $helper-text-color;
      font-family: $sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.025em;
      @media (min-width: 1290px) {
        font-size: 16px;
      }
    }
  }
  &__callback {
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 12%;
    padding: 0 20px;
    color: #fefefe;
    font-family: $helper-font;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-color: $accent-color;
    @media (min-width: 1050px) {
      display: flex;
    }
    &:hover {
      color: #fefefe;
    }
  }

  &__basket {
    position: relative;
    @media (min-width: 1050px) {
      width: 7%;
      min-width: 100px;
      padding: 0 20px;
    }
    @media (min-width: 1500px) {
      width: 12.5%;
    }
    &:hover .basket-tooltip {
      right: 0;
    }
  }
  &__basket-link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 70px;
    height: 100%;
    font-family: $helper-font;
    &:hover .header__basket-text {
      color: $red;
    }
  }
  &__basket-text {
    display: none;
    margin-right: 10px;
    color: $helper-text-color;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    transition: color $slow linear;
    @media (min-width: 1500px) {
      display: block;
    }
  }
  &__basket-count {
    position: relative;
    width: 32px;
    min-width: 32px;
    height: 32px;
    background-image: url(../assets/images/icon-basket.png);
    background-repeat: no-repeat;
    background-size: 32px;
    @media (min-width: 1050px) {
      width: 45px;
      min-width: 45px;
      height: 45px;
      background-size: 45px;
    }
    span {
      position: absolute;
      top: -4px;
      right: -4px;
      min-width: 17px;
      height: 17px;
      padding: 0 4px;
      color: $white;
      background-color: $red;
      font-size: 9px;
      font-weight: 700;
      line-height: 20px;
      text-align: center;
      border-radius: 24px;
      @media (min-width: 1050px) {
        min-width: 24px;
        height: 24px;
        font-size: 12px;
        line-height: 27px;
      }
    }
  }
}

.basket-tooltip {
  position: absolute;
  top: 100%;
  right: -320px;
  width: 320px;
  background-color: $white;
  box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, .15);
  transition: right $slow ease-in-out;
  z-index: 1000;
  &__item {
    position: relative;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    padding: 18px 35px 20px 20px;
    border-bottom: 1px solid #eee;
    img {
      width: 70px;
      height: auto;
      vertical-align: middle;
    }
  }
  &__info {
    display: inline-block;
    width: 200px;
    padding: 0 10px 0 20px;
    vertical-align: middle;
  }
  &__name {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
  }
  &__remove {
    position: absolute;
    right: 15px;
    top: 15px;
  }
  &__footer {
    padding: 20px;
  }
  &__total {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
  }
  &__total-txt {
    font-size: 13px;
  }
  &__total-sum {
    font-size: 18px;
    font-weight: 700;
  }
  &__btn {
    padding: 18px 0 !important;
    font-size: 18px !important;
  }
}
