.footer
  .footer__container
    .footer__section
      input.footer__toggle(id='section_1', type='checkbox', name='footer')
      label.footer__title(for='section_1') Каталог
      ul.footer__menu
        li.footer__item
          a.footer__link._line(href='javascript:void(0)') Женские Угги
        li.footer__item
          a.footer__link._line(href='javascript:void(0)') Мужские Угги
        li.footer__item
          a.footer__link._line(href='javascript:void(0)') Детские Угги
        li.footer__item
          a.footer__link._line(href='javascript:void(0)') Аксессуары

    .footer__section
      input.footer__toggle(id='section_2', type='checkbox', name='footer')
      label.footer__title(for='section_2') Разделы
      ul.footer__menu
        li.footer__item
          a.footer__link._line(href='javascript:void(0)') Выбор размера
        li.footer__item
          a.footer__link._line(href='javascript:void(0)') Угги оптом
        li.footer__item
          a.footer__link._line(href='javascript:void(0)') Контакты
        li.footer__item
          a.footer__link._line(href='javascript:void(0)') Блог

    .footer__section
      input.footer__toggle(id='section_3', type='checkbox', name='footer')
      label.footer__title(for='section_3') Контакты
      ul.footer__menu
        li.footer__item
          a.footer__link(href='tel:8-800-333-2761') 8 (800) 333-27-61
        li.footer__item
          a.footer__link(href='mailto:info@uggi-official.ru') info@uggi-official.ru
        li.footer__item
          a.footer__link(href='http://uggi-official.ru') uggi-official.ru
        li.footer__item
          .footer__link г. Красногорск, ул. Международная, 12

    .footer__section._down
      .footer__made Сайт разработан