.footer {
  position: relative;
  width: 100%;
  border-bottom: 24px solid $red;
  &__container {
    max-width: 1277px;
    margin: 0 auto;
    transform: translateZ(0);
    @media (min-width: 640px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 68px;
    }
  }
  &__section {
    border-bottom: 1px solid #ececec;
    @media (min-width: 640px) {
      margin-bottom: 24px;
      border: 0 none;
    }
    &:not(:last-child) {
      @media (min-width: 640px) {
        padding-right: 20px;
      }
    }
    &._down {
      display: flex;
      align-items: flex-end;
    }
  }
  &__title,
  &__made {
    position: relative;
    color: $black;
    font-size: 15px;
    font-family: $helper-font;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    @media (max-width: 639px) {
      height: 54px;
      padding: 21px 20px;
    }
    @media (min-width: 640px) {
      padding-bottom: 8px;
    }
  }
  &__made {
    @media (max-width: 639px) {
      padding: 50px 20px 40px;
    }
  }
  &__toggle {
    position: absolute;
    opacity: 0;
    display: none;
    &:checked ~ .footer__title:after {
      @media (max-width: 639px) {
        transform: rotate(180deg);
      }
    }
    &:checked ~ .footer__menu {
      @media (max-width: 639px) {
        height: 200px;
      }
    }
  }
  &__title {
    position: relative;
    display: block;
    @media (min-width: 640px) {
      pointer-events: none;
    }
    &:after {
      @media (max-width: 639px) {
        content: '';
        position: absolute;
        width: 17px;
        height: 17px;
        top: 19px;
        right: 20px;
        background-image: url('data:image/false;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARBAMAAADJQ1rJAAAAIVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABt0UjBAAAACnRSTlMA7g3qjuiCfhcTGZ2pjQAAAEFJREFUCNdjIB0IK4ApZQGGVctADLZVCxgUVxkxMDBZLQRKea0qYKha5QCU4JRaqrpKEqyYZdWqJVDtjQsbGMgBAEQ7DRfwwyniAAAAAElFTkSuQmCC');
        background-repeat: no-repeat;
        transition: $slow transform;
      }
    }
  }
  &__menu {
    @media (max-width: 639px) {
      height: 0;
      transition: $slow all;
      overflow: hidden;
    }
    @media (min-width: 640px) {
      padding-bottom: 8px;
    }
  }
  &__item {
    font-size: 15px;
    font-family: $primary-font;
    font-weight: 400;
  }
  &__link {
    display: inline-block;
    @media (max-width: 639px) {
      padding: 0 20px;
      line-height: 44px;
    }
    @media (min-width: 640px) {
      padding-top: 16px;
    }
    &._line {
      border-bottom: 1px solid rgba(#ff0000, 0.4);
    }
  }
}