.blog.block
  - var items = ['ГЛАВНАЯ']
  - var product = 'Статьи'
  - var helperClass = '_black'
  include ../breadcrumbs/breadcrumbs.pug



  ul.blog-list
    li.blog-list__item
      .blog-list__img
        a(href='javascript:void(0)')
          img(src='./assets/images/blog/article_01.jpg')
      .blog-list__info
        a.blog-list__name(href='javascript:void(0)') ЗНАМЕНИТОСТИ В UGG
        .blog-list__text Поскольку чаще всего угги от UGG Australia покупают для зимнего сезона, возникает вопрос — как выбрать размер угг, чтобы об этом не пришлось жалеть в дальнейшем. В первую очередь, советуем измерить длину своей стопы в см и определиться с российским размером.
    li.blog-list__item
      .blog-list__img
        a(href='javascript:void(0)')
          img(src='./assets/images/blog/article_02.jpg')
      .blog-list__info
        a.blog-list__name(href='javascript:void(0)') ИСТОРИЯ БРЕНДА UGG
        .blog-list__text Поскольку чаще всего угги от UGG Australia покупают для зимнего сезона, возникает вопрос — как выбрать размер угг, чтобы об этом не пришлось жалеть в дальнейшем. В первую очередь, советуем измерить длину своей стопы в см и определиться с российским размером.
    li.blog-list__item
      .blog-list__img
        a(href='javascript:void(0)')
          img(src='./assets/images/blog/article_03.jpg')
      .blog-list__info
        a.blog-list__name(href='javascript:void(0)') КАК ВЫБРАТЬ УГГИ?
        .blog-list__text Поскольку чаще всего угги от UGG Australia покупают для зимнего сезона, возникает вопрос — как выбрать размер угг, чтобы об этом не пришлось жалеть в дальнейшем. В первую очередь, советуем измерить длину своей стопы в см и определиться с российским размером.
    li.blog-list__item
      .blog-list__img
        a(href='javascript:void(0)')
          img(src='./assets/images/blog/article_04.jpg')
      .blog-list__info
        a.blog-list__name(href='javascript:void(0)') КАК ВЫБРАТЬ СВОЙ РАЗМЕР УГГ
        .blog-list__text Поскольку чаще всего угги от UGG Australia покупают для зимнего сезона, возникает вопрос — как выбрать размер угг, чтобы об этом не пришлось жалеть в дальнейшем. В первую очередь, советуем измерить длину своей стопы в см и определиться с российским размером.
    li.blog-list__item
      .blog-list__img
        a(href='javascript:void(0)')
          img(src='./assets/images/blog/article_05.jpg')
      .blog-list__info
        a.blog-list__name(href='javascript:void(0)') УГГИ ЛЕТОМ: НОСИТЬ ИЛИ НЕ НОСИТЬ?
        .blog-list__text Поскольку чаще всего угги от UGG Australia покупают для зимнего сезона, возникает вопрос — как выбрать размер угг, чтобы об этом не пришлось жалеть в дальнейшем. В первую очередь, советуем измерить длину своей стопы в см и определиться с российским размером.
