.blog {

}

.blog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -22px;
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 44px;
    background-color: $white;
    @media (min-width: 640px) {
      width: calc(50% - 44px);
      margin: 0 22px 44px;
    }
    @media (min-width: 1050px) {
      width: calc(33.3333% - 44px);
    }
    @media (min-width: 1200px) {
      width: calc(25% - 44px);
    }
    @media (min-width: 1680px) {
      width: calc(20% - 44px);
    }
    @media (min-width: 2200px) {
      width: calc(16.6667% - 44px);
    }
    &:hover {
      .products-list__over {
        display: block;
      }
    }
  }
  &__img {
    img {
      width: 100%;
      height: auto;
    }
  }
  &__info {
    padding: 20px 18px;
  }
  &__name {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__text {
    padding-top: 10px;
    font-size: 15px;
    line-height: 21px;
  }
}