.breadcrumbs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  @media (min-width: 900px) {
    font-size: 20px;
  }
  &._white {
    @media (min-width: 900px) {
      margin-bottom: 32px;
    }
  }
  &._black {
    @media (min-width: 900px) {
      margin-bottom: 43px;
    }
  }
  &__items {
    display: flex;
  }
  &__item {
    position: relative;
    padding-right: 20px;
    transition: opacity $slow ease-in-out;
    &:not(:last-child):after {
      content: '/';
      display: inline-block;
      ._white & {
        color: $white;
        font-family: $helper-font;
      }
    }
    &:hover ~ .breadcrumbs__item {
      opacity: .5;
    }
    &:first-child:after,
    &:first-child ~ .breadcrumbs__item {
      @media (max-width: 899px) {
        display: none;
      }
    }
  }
  &__link {
    margin-right: 20px;
    letter-spacing: 0.075em;
    white-space: nowrap;
    ._white & {
      font-family: $helper-font;
      @media (max-width: 899px) {
        color: $black;
      }
      @media (min-width: 900px) {
        color: $white;
      }
    }
  }
  &__back {
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 9px;
      left: -16px;
      width: 8px;
      height: 11px;
      background-image: url(../images/icon-arrow-back.svg);

    }
    ._white & {
      font-family: $helper-font;
      @media (min-width: 900px) {
        color: $white;
      }
    }
    @media (min-width: 900px) {
      display: none;
    }
  }
}