.breadcrumbs(class=helperClass)
  ul.breadcrumbs__items
    each item in items
      li.breadcrumbs__item
        a.breadcrumbs__link(href='javascript:void(0)')= item
    li.breadcrumbs__item
      .breadcrumbs__link(href='javascript:void(0)')= product
  a.breadcrumbs__back(href='javascript:history.back()') Назад