extends ./index.pug

block content
  include ./components/catalog/catalog.pug

  .container
    h1.title-h1 МУЖСКИЕ УГГИ ОТ UGG AUSTRALIA
    p.text Наш интернет-магазин предлагает Вам купить мужские угги марки UGG Australia. Брендовые угги для мужчин из натуральной овчины могут стоить весьма недорого. Мужская австралийская обувь продается у нас со скидками до 50%.
    p.text Если Вы живете в Москве, воспользуйтесь нашим уникальным предложением по бесплатной доставке мужских угг к Вам на дом или шоурумом в спорткомплексе «Олимпийский» (м. Проспект Мира). С регионами мы работаем через сервис EMS Russian Post.

    .block-cut
      input.block-cut__toggle(id='block_1', type='radio', name='block-cut')
      label.block-cut__title(for='block_1') Читать далее
      .block-cut__content
        h2.title-h2 ПРИЯТНЫЕ ЦЕНЫ НА МУЖСКИЕ УГГИ
        p.text
          | Эксклюзивные цены на мужские угги знаменитого бренда UGG Australia мы можем предложить по трем простым причинам:
          <br>
          | 1. мы являемся официальным импортером бренда в Россию;
          <br>
          | 2. снизить цену нам позволяют оптовые объемы поставок UGG в Москву;
          <br>
          | 3. в нашем магазине можно купить угги не только нового, но и прошлых сезонов с серьезной уценкой.
        h2.title-h2 ОБУВЬ ДЛЯ МУЖЧИН, КОТОРЫЕ ЦЕНЯТ КОМФОРТ И КАЧЕСТВО
        p.text Те, кто только присматривается к мужским уггам и собственному образу в них, часто задумываются: «Действительно ли эта угловатая, своеобразная обувь подходит для настоящего мужчины?». Отвечаем — если уж «крепкий орешек» Брюсс Уиллис, а вслед за ним и такие парни, как Брэд Питт, Бен Аффлек и Леонардо ди Каприо предпочитают мужские угги от UGG Australia всякой прочей обуви, то любой, даже самый солидный джентльмен, найдет в их ношении немало приятного.
        p.text
          | 1. Мужские угги не стесняют стопу, не жмут, не натирают и по комфорту не отличаются от домашних тапочек.
          <br>
          | 2. В уггах всегда тепло, даже в сильный холод, при этом в жару они, напротив, обеспечивают прохладу за счет использования натуральной овчины.
          <br>
          | 3. Угги — это не только классические сапожки, но и модные в нынешнем сезоне мужские мокасины. Бренд UGG Australia предлагает самые разные варианты зимней, летней и демисезонной мужской обуви вплоть до 45 размера.
          <br>
          | 4. Угги довольно просты в уходе (особенно при наличии специального набора) и прекрасно подходят к любимой мужской одежде — пуховикам, джинсам и свитерам.
        p.text Если у Вас возникли какие-либо вопросы о приобретении и доставке UGG, наш онлайн консультант будет рад оказать любую помощь!Популярность такой обуви растет с каждым днем. Удивительные сапожки являются очень мягкими, удобными, сохраняют тепло. Эти милые сапоги из Австралии очень универсальны – они одинаково хорошо подходят женщинам, мужчинам, детям. В основном, разные модели: мужские, женские и детские, отличает лишь размер. Сапоги очень удобны, они надежно защищены от скольжения по гололеду, ведь специальная полоска EVA на подошве сапожек призвана помогать сохранять равновесие на льду. Этот фасон прочно закрепился на модном пьедестале, знаменитости, как отечественные, так и зарубежные, уже давно обратили внимание на эту чудную обувь. Наш официальный сайт UGG Australia предлагает вам широкий выбор обуви от фирмы UGG Australia из Австралии, родины этих сапожек. Стоит помнить, что для того, чтоб избежать разочарования в покупке, нужно быть на сто процентов уверенным в том, что вы получите фирменную обувь, а не подделку, созданную в подвале, но проданную вам по баснословной цене.


block script
  script.
    (function () {

      // Select2
      $('.js-select2').select2({
        minimumResultsForSearch: Infinity
      });


      // noUiSlider
      let rangeSlider = $('.js-nouislider')[0];
      let rangeSliderMin = $('.js-nouislider-min')[0];
      let rangeSliderMax = $('.js-nouislider-max')[0];
      let rangeSliderInputs = [rangeSliderMin, rangeSliderMax];
      noUiSlider.create(rangeSlider, {
        start: [0, 20000],
        connect: true,
        step: 100,
        format: {
          to: function (value) {
            return value;
          },
          from: function (value) {
            return value;
          }
        },
        range: {
          'min': [0],
          'max': [20000]
        }
      });

      rangeSlider.noUiSlider.on('update', function (values, handle) {
        rangeSliderInputs[handle].value = values[handle];
      });

      rangeSliderMin.addEventListener('change', function () {
        rangeSlider.noUiSlider.set([this.value, null]);
      });

      rangeSliderMax.addEventListener('change', function () {
        rangeSlider.noUiSlider.set([null, this.value]);
      });

    }());
