doctype html
html
  include ./components/head/head.pug
  body
    .wrapper
      include ./components/header/header.pug
      include ./components/topnav/topnav.pug


      block content
        include ./components/slider/slider.pug
        include ./components/img-cat/img-cat.pug
        include ./components/bestseller/bestseller.pug

        .container
          h1.title-h1 UGG Australia официальный сайт «UGGI-Official.ru»
          p.text Популярность такой обуви растет с каждым днем. Удивительные сапожки являются очень мягкими, удобными, сохраняют тепло. Эти милые сапоги из Австралии очень универсальны – они одинаково хорошо подходят женщинам, мужчинам, детям. В основном, разные модели: мужские, женские и детские, отличает лишь размер. Сапоги очень удобны, они надежно защищены от скольжения по гололеду, ведь специальная полоска EVA на подошве сапожек призвана помогать сохранять равновесие на льду. Этот фасон прочно закрепился на модном пьедестале, знаменитости, как отечественные, так и зарубежные, уже давно обратили внимание на эту чудную обувь. Наш официальный сайт UGG Australia предлагает вам широкий выбор обуви от фирмы UGG Australia из Австралии, родины этих сапожек. Стоит помнить, что для того, чтоб избежать разочарования в покупке, нужно быть на сто процентов уверенным в том, что вы получите фирменную обувь, а не подделку, созданную в подвале, но проданную вам по баснословной цене.
          .block-cut
            input.block-cut__toggle(id='block_1', type='radio', name='block-cut')
            label.block-cut__title(for='block_1') Читать далее
            .block-cut__content
              h2.title-h2 UGG официальный сайт в России - UGG Australia
              p.text Высота сапог варьируется от длины «по щиколотку» и до колена. Для зимы, в которой очень много снега, практичным является такой подбор сапожек, когда их высота доходит до середины икры и немного выше. Эта обувь просторна, в нее удобно заправлять брюки, создавая различные модные комбинации. Купить австралийские сапоги в России достаточно проблематично, очень легко нарваться на подделку, или же придется переплачивать втридорога в модных бутиках. Ugg официальный сайт в России представляет потребителям возможность приобрести брендовую и качественную обувь, представленную широким ассортиментом. Можно выбрать однотонную пару, а можно пеструю, отдать предпочтение модели классических пастельных тонов, серым, или же черным, а можно бросить вызов миру, купив обувь яркой расцветки. Фасон одинаково хорошо смотрятся с джинсами, юбками и платьями. Красивым является сочетание таких сапожек и мехового жилета.
              h2.title-h2 UGG com официальный сайт.
              p.text
                | Только на ugg com официальный сайт можно приобрести обувь из Австралии. Ресурс порадует вас выгодными условиями. Он предоставляет быструю доставку в любую точку России и стран Содружества Независимых Государств (СНГ), радует интересными скидками и уникальными предложениями, а жители Москвы могут получить пару в тот же день, при этом доставка для них совершенно бесплатна!
                <br>
                | UGG Australia официальный сайт в России - Уги официальный сайт
                <br>
                | Купить Угги на официальном сайте, где можно заказать чудесную обувь с гарантией качества. Всегда можно вернуть товар, который не подошел, в соответствии с Законом «О защите прав потребителя». Сайт гарантирует, что вся продукция будет качественной, вы не пожалеете денег, потраченных на угги, которые являются одними из лидеров на рынке зимней обуви. Идеальные для детей, подростков, молодых модников и модниц, а также для людей постарше, сапожки послужат долгие годы. Качественные изделия от производителя подарят вам комфорт в течение дня, защиту от зимних морозов, в них очень легко проходить весь день и избежать при этом усталости в ногах, натертостей. На нашем сайте вы можете совершить приятную покупку, подобрать настоящие ботинки из Австралии для всей семьи, не вставая с места и не выходя из дома. Очень тяжело вытащить своих родных на шоппинг, особенно тяжело подбирать обувь детишкам, ведь они устают и капризничают, настроение у всех портится, а итоге покупается та обувь, которая не подходит ребенку, или же приходится уходить без покупки вовсе. На нашем сайте специально для этого есть услуга примерки обуви.
                <br>
                | Совершайте покупки именно у нас, тогда вы непременно будете довольны каждым своим приобретением!


      include ./components/social/social.pug
      include ./components/footer/footer.pug

      .overlay.js-overlay
      block modal


  script(src='./js/vendor/jquery-3.1.0.min.js')
  script(src='./js/vendor/flickity.pkgd.min.js')
  script(src='./js/vendor/select2.min.js')
  script(src='./js/vendor/nouislider.min.js')
  script(src='./js/main.js')

  block script
    script.
      // Slider Main Page
      $('.js-slider-main').flickity({
        prevNextButtons: false,
        pageDots: false
      });
