extends ./index.pug

block content
  include ./components/product/product.pug


block script
  script.
    (function () {

      // Product Images Slider
      $('.js-product-img').flickity({
        contain: true,
        prevNextButtons: false,
        pageDots: false
      });

      $('.js-product-nav').flickity({
        asNavFor: '.js-product-img',
        contain: true,
        pageDots: false,
        arrowShape: {
          x0: 25,
          x1: 60, y1: 50,
          x2: 75, y2: 50,
          x3: 40
        }
      });


      // Product Colors Slider
      $('.js-product-colors').flickity({
        contain: true,
        pageDots: false,
        arrowShape: {
          x0: 20,
          x1: 60, y1: 50,
          x2: 75, y2: 50,
          x3: 40
        }
      });


      // Tabs
      $('.product__tabs a').click(function () {
        var tab_id = $(this).attr('id');
        tabClick(tab_id);
      });

      function tabClick(tab_id) {
        if (tab_id != $('.product__tabs a._active').attr('id')) {
          $('.product__tabs a').removeClass('_active');
          $('#' + tab_id).addClass('_active');
          $('.product__tabs .product__tab-body').removeClass('_active');
          $('#tab-' + tab_id).addClass('_active');
        }
      }

      tabClick(window.location.hash.split('#')[1]);

    }());
