.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all $slow ease-in-out;

  &._close {
    width: 20px;
    height: 20px;
    background-color: $white;
    border: 0 none;
    border-radius: 0;
    &:before,
    &:after {
      position: absolute;
      content: '';
      top: 9px;
      left: 1px;
      width: 18px;
      height: 3px;
      background-color: #e4e4e4;
      transition: background-color $slow ease-in-out;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
    &:hover {
      &:before,
      &:after {
        background-color: $red;
      }
    }
  }

  &._default {
    width: 100%;
    padding: 36px 0 33px;
    background-color: rgba(#d6d6d6, 1);
    font-family: $sans-serif;
    font-size: 20px;
    letter-spacing: 0.025em;
    border: 0 none;
    &:hover {
      background-color: rgba(#d6d6d6, .7);
    }
  }

  &._accent {
    width: 100%;
    padding: 33px 0;
    color: $white;
    background-color: rgba($red, 1);
    font-family: $sans-serif;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    border: 0 none;
    &:hover {
      background-color: rgba($red, .7);
    }
  }
}
