/* Common Styles
----------------------------------------------------------------------------- */
html {
  width: 100%;
  height: 100%;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  font-family: $primary-font;
}

*, *:focus {
  outline: none;
}
*::-moz-focus-inner {
  border: 0 none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

p {
  margin: 0;
  padding: 0;
  &.text {
    color: #4c4b4b;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
  }
}

p + p {
  margin-top: 20px;
}

a {
  color: $black;
  text-decoration: none;
  transition: color $slow;
  &:hover {
    color: $red;
  }
}

textarea {
  resize: vertical;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1277px;
  margin: 0 auto;
  padding: 26px;
  @media (min-width: 640px) {
    padding: 48px;
  }
  @media (min-width: 768px) {
    padding: 68px;
  }
}

.block {
  padding: 20px 20px;
  background-color: $accent-bg-color;
  @media (min-width: 600px) {
    padding: 40px 48px;
  }
}

.block-cut {
  &__toggle {
    position: absolute;
    opacity: 0;
    display: none;
    &:checked ~ .block-cut__title {
      display: none;
    }
    &:checked ~ .block-cut__content {
      height: auto;
    }
  }
  &__title {
    display: block;
    padding-top: 20px;
    color: $red;
    font-size: 17px;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
    @media (min-width: 900px) {
      display: none;
    }
  }
  &__content {
    height: 0;
    overflow: hidden;
    @media (min-width: 900px) {
      height: auto;
    }
  }
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($black, .85);
  cursor: pointer;
  z-index: 99;
  &._show {
    display: block;
  }
}