@font-face {
  font-family: "Meta Pro";
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/MetaPro-Normal.woff') format('woff'),
  url('../assets/fonts/MetaPro-Normal.ttf') format('truetype')
}

@font-face {
  font-family: "Meta Pro";
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/MetaPro-NormalItalic.woff') format('woff'),
  url('../assets/fonts/MetaPro-NormalItalic.ttf') format('truetype')
}

@font-face {
  font-family: "Meta Pro";
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/MetaPro-Bold.woff') format('woff'),
  url('../assets/fonts/MetaPro-Bold.ttf') format('truetype')
}

@font-face {
  font-family: "Meta Pro";
  font-style: italic;
  font-weight: 700;
  src: url('../assets/fonts/MetaPro-BoldItalic.woff') format('woff'),
  url('../assets/fonts/MetaPro-BoldItalic.ttf') format('truetype')
}

@font-face {
  font-family: "Neo Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/NeoSansPro-Bold.woff') format('woff'),
  url('../assets/fonts/NeoSansPro-Bold.ttf') format('truetype')
}
