.input {
  position: relative;
  width: 100%;
  height: 72px;
  input {
    width: 100%;
    height: 100%;
    padding: 0 10px 0 85px;
    background-color: $white;
    font-family: $primary-font;
    font-size: 24px;
    line-height: 24px;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: border 350ms;
    &:hover,
    &:focus {
      border: 1px solid #6d6d6d;
    }
    &::placeholder {
      color: #b1b1b1;
      font-family: $primary-font;
      font-size: 24px;
    }
  }
  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 76px;
    height: 72px;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  &._name:before {
    background-image: url(../images/icon-man.png);
  }
  &._phone:before {
    background-image: url(../images/icon-mobile.png);
  }
  &._email:before {
    background-image: url(../images/icon-email.png);
  }
  &._address:before {
    background-image: url(../images/icon-address.png);
  }
}


.quantity {
  position: relative;
  width: 100%;
  max-width: 69px;
  height: 32px;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid $borders-color;
  input {
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 8px;
    border: 0 none;
    float: left;
    -moz-appearance: textfield;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  &__btn {
    position: absolute;
    right: 0;
    width: 23px;
    height: 15px;
    cursor: pointer;
    &:after {
      position: absolute;
      content: "";
      left: 7px;
      border-width: 5px;
      border-style: solid;
    }
    &--up {
      top: 0;
      &:after {
        top: 2px;
        border-color: transparent transparent #ff0000 transparent;
      }
    }
    &--down {
      bottom: 0;
      &:after {
        bottom: 2px;
        border-color: #ff0000 transparent transparent transparent;
      }
    }
  }
}
