.title-h1,
.title-h2,
.title-h3 {
  color: $black;
  font-family: $sans-serif;
}

.title-h1 {
  margin-top: 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  @media (min-width: 768px) {
    font-size: 32px;
    line-height: 36px;
  }
  @media (min-width: 1024px) {
    font-size: 45px;
    line-height: 47px;
  }
}
.title-h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 38px;
  }
}
.title-h3 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
