// Colors
$black:            #000;
$white:            #fff;
$red:              #ff0000;
$tundora:          #4c4b4b;
$gray:             #8d8d8d;
$gallery:          #ececec;


$primary-color:       $black;
$secondary-color:     $white;
$accent-color:        $red;
$text-color:          $tundora;
$helper-text-color:   $gray;

$accent-bg-color:     $gallery;
$borders-color:       $gallery;


// Fonts
$sans-serif:          "Meta Pro", "Roboto", "Source Sans Pro", "Open Sans", Arial, sans-serif;
$helper-font:         "Neo Sans Pro", "Roboto", "Source Sans Pro", "Open Sans", Arial, sans-serif;
$primary-font:        $sans-serif;


// Dimensions
$container-with:      1170px;


// Animation
$time:                .15s;
$fast:                $time;
$slow:                .3s;