ul.img-cat
  li.img-cat__item
    a.img-cat__link(href='javascript:void(0)')
      .img-cat__title Женские
      img.img-cat__img(src='./assets/images/category-woman.jpg', alt='')
  li.img-cat__item
    a.img-cat__link(href='javascript:void(0)')
      .img-cat__title Мужские
      img.img-cat__img(src='./assets/images/category-man.jpg', alt='')
  li.img-cat__item
    a.img-cat__link(href='javascript:void(0)')
      .img-cat__title Детские
      img.img-cat__img(src='./assets/images/category-kid.jpg', alt='')
