.img-cat {
  display: flex;
  flex-direction: column;
  transform: translateZ(0);
  @media (min-width: 960px) {
    flex-direction: row;
  }
  &__item {
    position: relative;
    width: 100%;
    padding-top: 40%;
    @media (min-width: 960px) {
      flex-grow: 1;
      flex-basis: 33%;
      max-width: auto;
      height: auto;
      padding-top: 24%;
    }
  }
  &__link {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    &:after {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3);
    }
    &:hover {
      .img-cat__title {
        transform: translate3d(0, 0, 0) scale(1.05);
      }
      .img-cat__title:before {
        transform: rotate(45deg);
      }
      .img-cat__title:after {
        transform: rotate(-45deg);
      }
      .img-cat__img {
        transform: translate3d(0, 0, 0) scale(1);
      }
    }
  }
  &__title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: $white;
    font-family: $helper-font;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    transform: translate3d(0, 0, 0) scale(0.9);
    transition: translate $slow, transform $slow;
    z-index: 1;
    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 154px;
      height: 0;
      margin-left: -77px;
      border-top: 3px solid rgba($white, .3);
      transition: transform .3s;
      pointer-events: none;
    }
    &:before {
      transform: translateY(-36px);
    }
    &:after {
      transform: translateY(26px);
    }
  }
  &__img {
    position: absolute;
    width: 100%;
    height: auto;
    transform: translate3d(0, 0, 0) scale(1.2);
    transition: transform 1.7s;
    z-index: -1;
    @media (min-width: 960px) {
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
    }
  }
}
