.slider
  .slider__main.js-slider-main
    .slider__main-item
      img(src='./assets/images/slider/slider-1.jpg', title='')
    .slider__main-item
      img(src='./assets/images/slider/slider-1.jpg', title='')
    .slider__main-item
      img(src='./assets/images/slider/slider-1.jpg', title='')
